[Desktop Entry]
Actions=Open;Tray;
Categories=Qt;Network;
Comment[en_US]=Download Manager
Comment=Download Manager
Comment[ko]=다운로드 관리자
Exec=persepolis
GenericName[en_US]=Download Manager
GenericName=Download Manager
GenericName[bn]=ডাউনলোড মেনেজার
GenericName[fa]=نرم افزار مدیریت بارگیری
GenericName[it]=Download Manager
GenericName[ko]=다운로드 관리자
Icon=persepolis
Keywords=Internet;WWW;Web;
Name[en_US]=Persepolis Download Manager
Name=Persepolis Download Manager
Name[bn]=পার্সেপোলিস
Name[fa]=پرسپولیس
Name[it]=Download Manager Persepolis
Name[it]=Persepolis 다운로드 관리자
StartupNotify=true
StartupWMClass=persepolis
Terminal=false
Type=Application
X-KDE-SubstituteUID=false

[Desktop Action Open]
Exec=persepolis
Name=Start Persepolis
Name[bn]=পার্সেপোলিস শুরু করুন
Name[fa]=اجرای برنامه
Name[it]=Avvia Persepolis
Name[ko]=Persepolis 시작

[Desktop Action Tray]
Exec=persepolis --tray
Name=Start in System Tray
Name[bn]=সিস্টেম-ট্রে-তে শুরু করুন
Name[fa]=اجرای برنامه در سینی نمایه
Name[it]=Avvia nella barra delle applicazioni
Name[ko]=시스템 트레이에서 시작

