[Desktop Entry]
Name=Persepolis Download Manager
Name[fa]=پرسپولیس
Comment=Download Manager
GenericName=Download Manager
GenericName[fa]=نرم افزار مدیریت بارگیری
Keywords=Internet;WWW;Web;
Terminal=false
Type=Application
Categories=Qt;Network;
StartupNotify=true
Exec=persepolis 
Icon=persepolis
StartupWMClass=persepolis
Actions=Open;Tray;

[Desktop Action Open]
Name=Start Persepolis
Name[fa]=اجرای برنامه
Exec=persepolis

[Desktop Action Tray]
Name=Start in System Tray
Name[fa]=اجرای برنامه در سینی نمایه
Exec=persepolis --tray
