__pycache__/
*.pyc
.env
*.orig
root/
build/
builddir/
persepolis.egg-info/
man/persepolis.1.gz
.idea/
.mypy_cache
persepolis_wenv/
test/ffmpeg
resources/ffmpeg
dist/
*.spec
venv_dir/
test/ffmpeg.exe
Persepolis\ Download\ Manager.build/
Persepolis\ Download\ Manager.dist/
Persepolis\ Download\ Manager.onefile-build/
